@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* overflow: hidden; */
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  
    .active{
      border-bottom: 3px solid white;
      padding: 0;
    }

  
    
}
/* body {
  background: radial-gradient(circle, lemonchiffon, black 25%, skyblue);

}

body:after {
  content: '';
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background: radial-gradient(circle, transparent, black 2%, transparent);
  animation: color 1.5s infinite ease-out alternate;
  opacity: 0;
}

@keyframes color {
  0% {  background: radial-gradient(circle, transparent, black 25%, transparent); }
  100% { opacity: 1; }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

